h1{
  color: rgb(119, 12, 234); 
  text-align: center;
  text-decoration: underline;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}
h3{
    text-align: center;
    background-color: cadetblue;
}
h2{
    font-weight: 400;
}
p{
    font-style: italic;
    font-weight: 100;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
   
}